name: 'Hashnode Blogs'

on:
  workflow_dispatch:
  schedule:
    - cron: '0 18 * * *' # Runs Every Day

jobs:
  update_blogs:
    name: 'Hashnode Latest Blogs'
    runs-on: ubuntu-latest
    steps:
      - name: 'Fetch Repository Contents'
        uses: actions/checkout@main

      - name: 'Hashnode Blog Action'
        uses: 'Sachin-chaurasiya/hashnode-blog-action@main'
        with:
          HASHNODE_PUBLICATION_NAME: 'themehrankhan.hashnode.dev'
          POST_COUNT: 5
          FORMAT: 'list'
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
